
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background:black;

}

.img-gallery{
    width: 80%;
    margin:  75px 50px 50px; 
    display: grid;
    grid-template-columns: repeat(5,minmax(250px,1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.img-gallery img{
    display: flex;
    height: 230px;
    width: 290x;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgb(8, 8, 8);
    overflow: hidden;
}
.img-gallery img:hover{
    transform: scale(1.1);
    border-radius: 20px;
    box-shadow:0 5px 15px rgb(8, 8, 8); ;
} 
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100;

}
.full-img img{
    width: 90%;
    max-width: 800px;

}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
